<div class="subscription-plug">
	<div class="title">
		<% if user_logged_in? -%>
			<%= link_to 'View the newest videos from the Channels you follow', {:action => 'subscriptions'} %>
		<% else -%>
			<%= link_to 'View the newest videos from Suggested Channels', {:action => 'subscriptions'} %>
		<% end -%>
	</div>
	<% channels.each do |channel| -%>
		<%= render channel %>
	<% end -%>
	<div class="channel explore">
		<%= link_to 'Explore More Channels &raquo;', {:controller => 'channels'} %>
	</div>
	<br class="clear"/>
</div>