<div class="status">
	<% if !logged_in_user.subscribes_to?(channel) -%>
		<%= link_to_remote '+ Subscribe', {:url => {:controller => 'channels', :action => 'subscribe', :id => channel.id}}, :class => 'subscribe' %>
	<% else -%>
		<%= link_to_remote 'Subscribed!', {:url => {:controller => 'channels', :action => 'unsubscribe', :id => channel.id}}, :class => 'unsubscribe' %>
	<% end -%>
</div>