<% if user_logged_in? -%>
	<table class="inline" cellpadding="0" cellspacing="0">
		<tr>
			<td class="gutter">&nbsp;</td>
			<td class="image"><%= image_tag('comment.png') %></td>
			<td colspan="2" class="body">
				<%= link_to 'Reply', "javascript:comment('#{video.id}','#{video.slug}','!AUTO');" %>
			</td>
		</tr>
	</table>
<% end -%>