<% if user_logged_in? -%>
	<table id="reply_link_for_<%= video.id %><%= container_id %>" class="inline" cellpadding="0" cellspacing="0">
		<tr>
			<td class="gutter">&nbsp;</td>
			<td class="image-small"><%= image_tag('comment.png') %></td>
			<td colspan="2" class="body">
				<%= link_to 'Reply', "javascript:comment('#{video.id}','#{video.slug}','!AUTO','#{container_id}');" %>
			</td>
		</tr>
	</table>
<% end -%>