<h1 class="section-header">Areas</h1>
<%= link_to 'Channel Manager', {:controller => "admin/channels"} %><br/>
<%= link_to 'Comment Manager', {:controller => "admin/comments"} %><br/>
<%= link_to 'Statistic Viewer', {:controller => "admin/statistics"} %><br/>
<%= link_to 'User Manager', {:controller => "admin/users"} %>