<%= render :partial => "/layouts/content_header_simple", :locals => {:title => "Admin", :crumbs => [{:name => 'Admin', :params => {:controller => 'admin/overview'}}, {:name => 'Overview'}]} %>

<div id="content-main">
	
</div>

<div id="content-sidebar">
	<%= render :partial => "sidebar" %>
</div>