<h1 class="section-header">Invite Your Friends</h1>
<p>We know that Gawkk is more fun with friends, so we made it really easy to invite them!</p>
<p>Go ahead and <%= link_to 'invite your friends', {:controller => 'registration', :action => 'setup_friends'} %> today.</p>