<div class="buffered">
	<h1 class="section-header">Sign up to share videos with friends!</h1>
	
	<% form_tag({:controller => 'registration', :action => 'register'}) do %>
		<%= error_messages_for 'user' %>
		<%= hidden_field 'current', 'path', :id => 'current_path' %>
		
		
		
		<%= submit_tag 'Register' %> or <%= link_to 'Cancel', '#cancel', :onclick => "hideOverlay();" %>
	<% end %>
</div>

<script type="text/javascript" charset="utf-8">
	$('current_path').value = window.location.pathname + window.location.search;
	$('user_email').focus();
</script>