<div id="registration-overlay" class="buffered">
	<div style="background-color:#FFFFFF;border:1px solid #CCCCCC;margin:10px 0 2px 0;padding:5px 10px;">
		<p style="font-size:9pt;margin:5px 0 0 0;padding:2px 0;text-align:center;">
			Sign in with Twitter and instantly access Gawkk!
		</p>
		<p style="margin-top:5px;text-align:center;">
			<%= image_tag('service_twitter.png') %>
		</p>
		<% form_tag({:controller => 'twitter', :action => 'oauth_request'}) do %>
			<p style="text-align:center;">
				<input type="image" src="/images/sign_in_with_twitter.png"/>
			</p>
		<% end -%>
		<p style="font-size:9pt;text-align:center;">
			Don't have a Twitter account? <%= link_to 'Sign up now', "http://twitter.com/signup", :target => 'twitter' %>.
		</p>
	</div>
	
	<div style="margin:10px 0 0 0;text-align:center;">
		<p style="font-size:8pt;">
			Have an existing Gawkk Account?
			<%= link_to_remote('Sign in here', {:url => {:controller => 'authentication', :action => 'login'}, :method => :get}) %>.
		</p>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$('current_path').value = window.location.pathname + window.location.search;
</script>
