.item {
	margin-top: 25px;
	width: 100%;
}

.item td {
	font-size: 9pt;
	padding: 3px 0;
	text-align: left;
}

.item td + td {
	padding-left: 5px;
}

.item td a {
	font-size: 9pt;
}

.item .image {
	text-align: right;
	vertical-align: top;
	width: 52px;
}

.item .image img {
	border: 1px solid #E5E5E5;
	height: 50px;
	width: 50px;
}

.item .title a {
	font-size: 11pt;
	font-weight: bold;
	text-decoration: none;
}

.item .title a:hover {
	text-decoration: underline;
}

.item .avatar {
	text-align: right;
	width: 30px;
}

.item .avatar img {
	border: 1px solid #E5E5E5;
	height: 23px;
	width: 23px;
}

.item .status {
	padding-left: 5px;
}

.item .delete {
	color: gray;
	font-style: normal;
	visibility: hidden;
}

.item .delete a {
	color: red;
	font-size: 8pt;
}

.item:hover .delete {
	visibility: visible;
}