/* user list */
#user-list {
	width: 100%;
}

#user-list th {
	border-bottom: 1px solid #CCCCCC;
	text-align: left;
}

#user-list td {
	border-bottom: 1px solid #E5E5E5;
	font-size: 9pt;
}

#user-list td:last-child {
	text-align: right;
}

#user-list td.avatar-container {
	width: 30px;
}

#user-list td.avatar-container img {
	border: 1px solid #E5E5E5;
	height: 28px;
	width: 28px;
}

#user-list td div {
	white-space: nowrap;
	overflow: hidden;
	width: 160px;
}

#user-list td.actions a {
	color: red;
	font-size: 8pt;
}

.not-separated td {
	border-bottom: 0px !important;
}