/* list */
#like-list {
	width: 100%;
}

#like-list th {
	border-bottom: 1px solid #CCCCCC;
	text-align: left;
}

#like-list td {
	border-bottom: 1px solid #E5E5E5;
	font-size: 9pt;
}

#like-list td:last-child {
	text-align: right;
}

#like-list td.avatar-container {
	width: 30px;
}

#like-list td.avatar-container img {
	border: 1px solid #E5E5E5;
	height: 28px;
	width: 28px;
}