/* list */
#comment-list {
	width: 100%;
}

#comment-list th {
	border-bottom: 1px solid #CCCCCC;
	text-align: left;
}

#comment-list td {
	border-bottom: 1px solid #E5E5E5;
	font-size: 9pt;
}

#comment-list td:last-child {
	text-align: right;
}

#comment-list td.avatar-container {
	width: 30px;
}

#comment-list td.avatar-container img {
	border: 1px solid #E5E5E5;
	height: 28px;
	width: 28px;
}

#comment-list td span {
	color: gray;
	font-size: 8pt;
	font-style: italic;
}

#comment-list td.actions a {
	color: red;
	font-size: 8pt;
}

/* edit form */
#comment-edit textarea {
	height: 100px;
	margin: 10px 0 0 5px;
	padding: 2px;
	width: 300px;
}

#comment-edit .title {
	font-size: 12pt;
}