/* channel list */
#create-channel-action img {
	vertical-align: top;
}

#create-channel-action a {
	font-size: 9pt;
}

#channel-list {
	width: 100%;
}

#channel-list th {
	border-bottom: 1px solid #CCCCCC;
	text-align: left;
}

#channel-list td {
	border-bottom: 1px solid #E5E5E5;
	font-size: 9pt;
}

#channel-list td:last-child {
	text-align: right;
}

#channel-list td.avatar-container {
	width: 30px;
}

#channel-list td.avatar-container img {
	border: 1px solid #E5E5E5;
	height: 28px;
	width: 28px;
}

#channel-list td div {
	white-space: nowrap;
	overflow: hidden;
	width: 160px;
}

#channel-list td.actions a {
	color: red;
	font-size: 8pt;
}

/* channel edit form */
#channel-edit textarea {
	height: 100px;
	padding: 2px;
	width: 300px;
}

/* feed list */
#feed-list {
	width: 100%;
}

#feed-list td {
	border-bottom: 1px solid #E5E5E5;
	font-size: 9pt;
}

#feed-list td:last-child {
	text-align: right;
}

#feed-list td div {
	white-space: nowrap;
	overflow: hidden;
	width: 350px;
}

#feed-list td.actions a {
	color: red;
	font-size: 8pt;
}

#add-feed-action a {
	font-size: 8pt;
}

/* channel list */
#feed-edit input#feed_url {
	width: 350px;
}