/* channel listing */
.channel {
	float: left;
	display: inline;
	font-size: 8pt;
	height: 89px;
	line-height: 10pt;
	margin: 5px 5px 5px 5px;
	overflow: hidden;
	text-align: center;
	width: 64px;
}

.channel img {
	border: 1px solid #E5E5E5;
	height: 60px;
	width: 60px;
}

/* channel listing in the sidebar */
#content-sidebar .channel {
	height: 74px;
	margin: 2px 2px 4px 2px;
	width: 49px;
}

#content-sidebar .channel img {
	height: 45px;
	width: 45px;
}

/* channel listings in a large sidebar */
#content-sidebar .large .channel {
	float: left;
	display: inline;
	font-size: 8pt;
	height: 89px;
	line-height: 10pt;
	margin: 5px 5px 5px 5px;
	overflow: hidden;
	text-align: center;
	width: 64px;
}

#content-sidebar .large .channel img {
	border: 1px solid #E5E5E5;
	height: 60px;
	width: 60px;
}

/* channel listing in a grid container */
.grid-container .channel {
	height: 116px;
	width: 79px;
}

.grid-container .channel img {
	height: 75px;
	width: 75px;
}

/* subscription buttons */
a.subscribe {
	background-color: #FFFFFF;
	border: 1px solid #9AAFE5;
	color: #195baa !important;
	font-size: 8pt;
	padding: 2px 4px;
	text-decoration: none !important;
}

a.unsubscribe {
	background-color: #195baa;
	border: 1px solid #195baa;
	color: #FFFFFF !important;
	font-size: 8pt;
	padding: 2px 4px;
	text-decoration: none !important;
}

.channel span {
	position: relative;
	top: 72px;
	z-index: 5;
}

.channel:hover span .subscribe {
	visibility: visible;
}

.channel span .subscribe {
	padding: 2px 6px;
	visibility: hidden;
	_visibility: visible;
}

.channel span .unsubscribe {
	padding: 2px 6px 2px 6px;
}

/* misc */
.no-description {
	background-color: #FFFFDD;
	font-size: 9pt;
	padding: 3px;
	text-align: center;
}

/* subscription plug */
.subscription-plug .title {
	font-size: 12pt;
	font-weight: bold;
	margin-top: 15px;
}

.subscription-plug .explore {
	font-size: 9pt;
	font-weight: bold;
	margin: 5px;
	padding-top: 15px;
	text-align: left;
	width: 115px;
}