/* single comment */
.comment {
	margin-top: 15px;
	width: 100%;
}

.comment:first-child {
	margin-top: 0;
}

.comment td {
	font-size: 9pt;
	padding: 1px 0 1px 5px;
	text-align: left;
}

.comment td a {
	font-size: 9pt;
}

.comment .avatar {
	padding-left: 0;
	vertical-align: top;
	width: 52px;
}

.comment .avatar img {
	border: 1px solid #E5E5E5;
	height: 50px;
	width: 50px;
}

/* inline video listing */
.comment .video {
	width: 590px;
}

.comment .video .title {
	margin-top: 0;
}

.comment .video .thumbnail {
	/*height: 81px;
		width: 115px;*/
	
	height: 89px;
	width: 127px;
}

.comment .video .embed .embed-container {
	width: 588px;
}

.comment .video .embed .fake-embed-container {
	width: 444px;
}