body {
	background-color: #f5f6f4;
	font-family: arial;
	margin: 0;
	padding: 0;
}

a img {
   border: none;
}

a {
   border: none;
	color: #4F6AA1;
}

td.permission {
   padding: 30px 0 10px 0;
}

.permission {
   font-family: arial;
   font-size: 10px;
   color: #666666;
   padding: 4px 0 4px 0;
}

.permission a {
   color: #333333;
}

.permission p {
   margin: 0 0 4px 0;
}

.header {
   background-color: #195baa;
}

.header td {
	color: #FFFFFF;
	font-size: 18px;
	padding: 0 10px;
}

.header h1 {
	font-family: arial;
	font-size: 32px;
	font-weight: normal;
	color: #ffffff;
	display: inline;
	text-align: left;
}

.date {
	text-align: right;
}

.date h3 {
	font-family: arial;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
	text-align: right;
	display: inline;
	font-style: italic;
}

.body {
   background-color: #ffffff;
}

td.sidebar {
	padding: 22px 10px 10px 10px;
}

.sidebar h2 {
   font-family: arial;
   font-size: 16px;
   font-weight: bold;
   color: #808080;
   margin: 0 0 6px 4px;
   padding: 0;
   text-align: left;
}

.sidebar h2.issue {
   color: #000000;
   margin: 0 0 10px 10px;
}

.sidebar ul {
   font-family: arial;
   font-size: 12px;
   color: #2679b9;
   margin: 0 0 0 24px;
   padding: 0;
   text-align: left;
}

.sidebar ul a {
	font-family: arial;
	font-size: 12px;
	color: #4F6AA1;
	font-style: italic;
}
.sidebar ul li {
	margin: 0 0 10px 0;
}
.sidebar p {
   font-family: arial;
   font-size: 11px;
   color: #5f5f5f;
   padding: 0;
   margin: 0 0 10px 0;
   text-align: left;
}

td.sidebg {
   background-color: #f1f1f1;
   padding: 10px 16px 10px 16px;
}

td.sidebg a {
	font-family: arial;
	font-size: 14px;
}

td.mainbar {
	padding: 22px 14px 0 14px;
}

.mainbar p {
	font-family: arial;
	font-size: 12px;
	color: #333333;
	margin: 0 0 10px 0;
	text-align: left;
}

.mainbar p.first {
	margin-top: 10px;
}

.mainbar h2 {
	font-family: arial;
	font-size: 16px;
	line-height: 18px;
	color: #000000;
	margin: 5px 0 5px 0;
}

.mainbar h2 a {
	font-family: arial;
	font-size: 16px;
	color: #4F6AA1;
	text-decoration: underline;
	font-style: normal;
}

.mainbar a {
	font-family: arial;
	font-size: 9pt;
	color: #4F6AA1;
}

.mainbar a.center {
	font-size: 12px;
	text-align: center;
	display: block;
	color: #999999;
	padding: 8px 0 12px 0;
	text-decoration: none;
}

.mainbar img.inline {
	border: 1px solid #dedede;
	padding: 4px;
}

.mainbar .video {
	margin-top: 5px;
}

.mainbar .video td.thumbnail {
	padding-right: 5px;
}

.mainbar .actions {
	margin-bottom: 15px;
	margin-top: 0px;
}

.mainbar .actions td {
	font-size: 9pt;
	padding: 2px 2px 2px 5px;
}

.mainbar .actions td.image {
	text-align: right;
	width: 24px;
}

.mainbar .status {
	margin: 5px 0 10px 0;
}

.mainbar .status .avatar {
	width: 44px;
}

.mainbar .status .avatar img {
	border: 1px solid #E5E5E5;
}

.mainbar .status .user a {
	font-size: 14px;
}

.mainbar .status .message {
	font-size: 9pt;
}

.mainbar .add_a_friend {
	margin: 5px 0 10px 0;
}

.mainbar .add_a_friend .avatar {
	width: 44px;
}

.mainbar .add_a_friend .avatar img {
	border: 1px solid #E5E5E5;
}

.mainbar .add_a_friend .user a {
	font-size: 14px;
}

.mainbar .add_a_friend .follower {
	width: 20px;
}

.mainbar .add_a_friend .follower img {
	border: 1px solid #E5E5E5;
}

.mainbar .add_a_friend .message {
	font-size: 9pt;
}

td.footer {
	padding: 0 0 10px 0;
	border-top: 2px solid #ededed;
}

.footer p {
	color: #a1a1a1;
	font-size: 11px;
	margin: 0;
	padding: 0;
}

.footer p.first {
	margin: 14px 0 0 0;
}

.footer a {
	font-family: arial;
	font-size: 11px;
	color: #4F6AA1;
}
