/* fb.connect overlay */
#facebook-connect-overlay #container {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 15px;
}

#facebook-connect-overlay table {
	margin: 0 auto;
	width: 100%;
}

#facebook-connect-overlay table td:first-child {
	text-align: right;
}

#facebook-connect-overlay table td input.field {
	border: 1px solid #999999;
	padding: 2px;
	width: 185px;
}

#facebook-connect-overlay table td.agreement {
	font-size: 8pt;
	font-style: italic;
	padding-right: 20px;
	text-align: right;
}

/* fb filter list */
#fb-filter-list {
	float: left;
	font-size: 11px;
	width: 125px;
}

#fb-filter-list div {
	border-top: 1px solid #d6d9de;
	padding: 7px;
}

#fb-filter-list div:hover {
	background-color: #eceef4;
	cursor: pointer;
}

#fb-filter-list div img {
	margin-right: 2px;
	vertical-align: bottom;
}

#fb-filter-list div:last-child {
	border-bottom: 1px solid #d6d9de;
}

#fb-filter-list .selected {
	background-color: #6d84b4;
	color: #FFFFFF;
}

#fb-filter-list .selected:hover {
	background-color: #6d84b4;
}

/* fb stream */
#fb-stream {
	float: right;
	width: 620px;
}

/* video */
.video {
	border-top: 1px solid #efefef;
	margin-top: 6px;
	padding-top: 10px;
}

.video:first-child {
	border-top: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

.video table {
	width: 100%;
}

.video td {
	vertical-align: top;
}

.video .action_owner {
	width: 50px;
}

.video .action_owner img.avatar {
	height: 50px;
	width: 50px;
}

.video .action_description {
	font-size: 13px;
	padding: 2px 0 0 10px;
}

.video .action_description a {
	font-weight: bold;
}

.video .action_body {
	padding: 0 0 5px 10px;
}

.video .thumbnail {
	border: 1px solid #E5E5E5;
	cursor: pointer;
	float: left;
	height: 89px;
	margin-right: 5px;
	width: 127px;
}

.video .title {
	font-size: 12px;
}

.video .title a {
	font-weight: bold;
}

.video .body {
	padding-top: 2px;
}

.video .body div {
	line-height: 14px;
}

.video .actions {
	color: #837d87;
	padding: 0 0 5px 10px;
}