.news-item-icon {
	float: left;
	padding-top: 8px;
	width: 16px;
	_margin-top: 8px;
}

.news-item, .news-item-hidden {
	font-size: 9pt;
	margin-top: 5px;
	padding: 7px 5px 2px 5px;
}

.news-item-hidden, .news-item-hidden a {
	color: gray;
	text-decoration: line-through;
}

.news-item .body, .news-item-hidden .body {
	margin-left: 21px;
	width: 480px;
}