/* registration overlay */
#registration-overlay #join-or-login {
	font-size: 9pt;
	margin-top: 0px;
	padding: 0 5px;
}

#registration-overlay #join-or-login span {
	float: right;
}

#registration-overlay table#container {
	height: 231px;
	width: 100%;
}

#registration-overlay table#container td.service {
	border: 1px solid #f3f6f9;
	border-right: 1px solid #CCCCCC;
	cursor: pointer;
	height: 73px;
	text-align: center;
}

#registration-overlay table#container td.selected-service {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-right: 1px solid #FFFFFF;
	height: 73px;
	text-align: center;
}

#registration-overlay table#container .forms {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-left: 0px;
	vertical-align: top;
	width: 350px;
}

#registration-overlay table#container .forms .title {
	font-size: 11pt;
	font-weight: bold;
	margin: 0 0 10px 0;
	padding: 10px 0 5px 0;
	text-align: center;
	_margin: 5px 0 0 0;
	_padding: 0;
}

#registration-overlay .signup_form .explanation {
	padding: 0 15px;
	text-align: center;
}

#registration-overlay .signup_form .coming-soon {
	font-size: 24pt;
	text-align: center;
	_margin-top: 15px;
}

#registration-overlay .signup_form .authorize {
	padding-top: 15px;
	text-align: center;
}

#registration-overlay #gawkk-form table {
	margin: 0 auto;
	width: 345px;
	_margin-top:-10px;
}

#registration-overlay #gawkk-form table td:first-child {
	text-align: right;
	width: 115px;
}

#registration-overlay #gawkk-form table td input.field {
	width: 175px;
}

#registration-overlay #gawkk-form table td.agreement {
	font-size: 8pt;
	font-style: italic;
	padding-right: 45px;
	_padding: 0 45px 0 0;
	_text-align: right;
}


/* common */
#registration-progress {
	border: 1px solid #E5E5E5;
	margin-bottom: 15px;
	width: 100%;
}

#registration-progress td {
	padding: 5px 10px;
	text-align: center;
	width: 25%;
}

#registration-progress td.inactive {
	color: gray;
}

#registration-progress td.active {
	background-color: #FFFFCC;
}


/* register */
#registration {
	width: 100%;
}

#registration .left input {
	width: 215px;
}

#registration .center {
	padding-left: 15px;
	width: 360px;
}

#registration .right {
	border-left: 1px solid #E5E5E5;
	padding-left: 10px;
	vertical-align: top;
	width: 190px;
}

#registration .right strong {
	font-size: 12pt;
}

#registration .right ul {
	margin-left: -25px;
	margin-bottom: 0px;
}

#registration .right li strong {
	font-size: 10pt;
}

#registration .right li + li {
	margin-top: 10px;
}


/* setup services */
#registration .information {
	text-align: center;
}

#registration .filler {
	width: 35px;
}

.services .left {
	border-bottom: 1px solid #EEEEEE;
	padding: 15px 15px 15px 15px;
	width: 192px;
}

.services .center {
	border-bottom: 1px solid #EEEEEE;
	width: 235px;
}

.services .no-logo {
	font-size: 12pt;
}

.services .no-logo img {
	vertical-align: top;
}

.services .no-bullets {
	list-style: none;
}

.services .no-bullets img {
	vertical-align: top;
}


/* setup profile */
#services-containers p {
	margin-bottom: 5px;
	margin-top: 0px;
}

#service-containers .selected {
	border: 3px solid #333333;
}

.service-avatar {
	border: 3px solid #E5E5E5;
	float: left;
	margin-right: 10px;
	padding: 5px;
	text-align: center;
	width: 90px;
}

.service-avatar:hover {
	border: 3px solid #999999;
	cursor: pointer;
}

.service-avatar p {
	margin: 2px 0;
}

/* setup suggestions */
#scrollable-suggestions-container {
	border: 1px solid #CCCCCC;
	border-top: 0px;
	height: 308px;
	overflow-x: hidden;
	overflow-y: scroll;
	_height: auto;
	_overflow: visible;
}

#suggestions-container {
	border: 1px solid #CCCCCC;
	width: 100%;
}

#suggestions-container th {
	background-color: #E5E5E5;
	border-bottom: 1px solid #CCCCCC;
	font-size: 12pt;
	font-weight: normal;
	padding: 5px 2px;
	text-align: left;
}

#suggestions-container tbody {
	
}

#suggestions-container td {
	vertical-align: top;
}

#suggestions-container .suggestions {
	width: 100%;
}

#suggestions-container .suggestions td {
	border-bottom: 1px solid #E5E5E5;
	font-size: 9pt;
	height: 48px;
	padding: 5px 5px 5px 2px;
	vertical-align: middle;
}

#suggestions-container .suggestions td.checkbox-container {
	width: 16px;
}

#suggestions-container .suggestions td.avatar-container {
	width: 30px;
}

#suggestions-container .suggestions td.avatar-container img {
	border: 1px solid #E5E5E5;
	height: 28px;
	width: 28px;
}

#suggestions-container .suggestions td.name {
	white-space: nowrap;
}

#suggestions-container .suggestions td.scrollbar-offset {
	padding-left: 9px;
	_padding-left: 2px;
}

.not-separated td {
	border-bottom: 0px !important;
}