/* sidebar */
#settings-sidebar {
	margin-top: 20px;
}

/* profile */
#settings-profile {
	width: 100%;
}

#settings-profile .left input {
	width: 215px;
}

#settings-profile .center {
	padding-left: 15px;
	width: 360px;
}

#settings-profile .right {
	border-left: 1px solid #E5E5E5;
	padding-left: 10px;
	vertical-align: top;
	width: 190px;
}

#settings-profile .right strong {
	font-size: 12pt;
}

#settings-profile .right ul {
	margin-left: -25px;
	margin-bottom: 0px;
}

#settings-profile .right li strong {
	font-size: 10pt;
}

#settings-profile .right li + li {
	margin-top: 10px;
}

#settings-profile td span {
	font-size: 8pt;
}

#settings-profile textarea {
	height: 75px;
	padding: 2px;
	width: 300px;
}

/* elsewhere */
#settings-elsewhere {
	
}

#settings-elsewhere .left {
	padding: 10px;
	width: 175px;
}

#settings-elsewhere .center {
	width: 235px;
}

#settings-elsewhere .no-logo img {
	vertical-align: top;
}

/* avatars */
#settings-avatar p {
	margin-bottom: 5px;
	margin-top: 0px;
}

#settings-avatar .selected {
	border: 3px solid #333333;
}