.share {
	background-color: #f9f9f9;
	border: 1px solid #E5E5E5;
	height: 112px;
	margin: 5px 0;
}

.share-container {
	width: 100%;
}

.share-container td:first-child {
	width: 60%;
}

.share-container table {
	border: 0px;
	margin-left: 5px;
}

.share-container table td:first-child {
	width: 85px;
}

.share-container table td input {
	width: 260px;
}

.share .close {
	text-align: right;
}

.share .close .clickable-area {
	color: #a2a4a4;
	cursor: pointer;
	float: right;
	font-size: 8pt;
	padding: 5px 5px 5px 10px;
}

.share .close .clickable-area:hover {
	color: #333;
}

.thid-party {
	background-color: #FFFFFF;
	margin: 4px auto 0 auto;
	padding: 5px;
	width: 90%;
}

.thid-party td {
	font-size: 8pt;
	padding: 1px 10px 1px 15px;
	width: 50%;
}

.thid-party td img {
	margin-right: 3px;
	vertical-align: top;
}

.thid-party td a {
	color: #333333;
	text-decoration: none;
}

.thid-party td a:hover {
	text-decoration: underline;
}