#post {
	width: 100%;
}

#post .profile-picture {
	text-align: left;
	vertical-align: top;
	width: 60px;
}

#post .profile-picture img {
	height: 50px;
	width: 50px;
}

#post .body {
	background-color: #f2f2f2;
	border-top: 2px solid #919191;
	border-right: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
	padding: 6px 7px;
}

#post .body textarea {
	border: 1px solid #bbbbbb;
	font-size: 13px;
	height: 38px;
	padding: 5px;
	width: 534px;
}

#post .url {
	background-color: #f2f2f2;
	border-right: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
	padding: 0 7px 6px 7px;
}

#post .url div {
	background-color: #ffffff;
	border: 1px solid #bbbbbb;
	padding: 7px 4px;
}

#post .url div span {
	color: #666666;
	font-weight: bold;
}

#post .url div span img {
	margin-top: -2px;
	vertical-align: middle;
}

#post .url div div {
	background-color: #ffffff;
	border: 0;
	border-top: 1px solid #dfdfdf;
	margin-top: 5px;
	padding: 6px 6px 0 6px;
}

#post .url input {
	border: 1px solid #bdc7d8;
	font-size: 13px;
	padding: 3px;
	width: 515px;
}

#post .submit {
	background-color: #f2f2f2;
	border-right: 1px solid #b5b5b5;
	border-bottom: 1px solid #b5b5b5;
	border-left: 1px solid #b5b5b5;
	padding: 0 7px 6px 7px;
}

#post .submit span {
	color: #777777;
	float: left;
	font-weight: bold;
	line-height: 24px;
}

#post .submit span img {
	cursor: pointer;
	margin-top: -4px;
	vertical-align: middle;
}

#post .submit input {
	font-size: 13px;
}