/* post box (step one) */
#post {
	width: 100%;
}

#post td {
	font-size: 9pt;
	padding: 3px 0;
	text-align: left;
}

#post td + td {
	padding-left: 5px;
}

#post .last {
	text-align: right;
}

#post td a {
	font-size: 9pt;
}

#post .image {
	text-align: right;
	vertical-align: top;
	width: 129px;
}

#post .image .avatar {
	border: 1px solid #E5E5E5;
	height: 28px;
	width: 28px;
}

#post .body textarea {
	color: gray;
	font-family: arial;
	font-size: 9pt;
	height: 43px;
	margin-top: 0px;
	padding: 4px;
	width: 500px;
}

#post .url input {
	border: 1px solid #999999;
	color: gray;
	font-family: arial;
	font-size: 9pt;
	margin-top: 0px;
	padding: 4px;
	width: 500px;
}

#post .character-count {
	color: #AAAAAA;
	font-size: 10pt;
	font-weight: bold;
	padding-right: 2px;
	text-align: right;
}

#post .over-limit {
	color: red;
}

/* submit form (step two) */
#submit {
	width: 100%;
}

#submit .title {
	padding: 5px 0px;
}

#submit .title input {
	border: 1px solid #999999;
	font-size: 13pt;
	padding: 3px;
	width: 625px;
}

#submit .thumbnails {
	padding: 2px 0;
	vertical-align: top;
	width: 137px;
}

#submit .thumbnails #thumbnail-container {
	border: 1px solid #CCCCCC;
	height: 129px;
	padding: 5px;
	text-align: center;
}

#submit .thumbnails .thumbnail {
	border: 1px solid #E5E5E5;
	height: 89px;
	width: 127px;
}

#submit .thumbnails #loading {
	color: gray;
	font-size: 8pt;
	padding-top: 15px;
}

#submit .thumbnails #loading img {
	vertical-align: top;
}

#submit .thumbnails #select {
	color: #555555;
	font-size: 8pt;
	text-align: center;
}

#submit .thumbnails .paginate-single-link-set {
	margin: 0px;
	padding: 1px 0 6px 0;
}

#submit .right {
	padding: 2px 0 2px 10px;
}

#submit .right input {
	border: 1px solid #999999;
	font-size: 11pt;
	padding: 3px;
	width: 475px;
}

#submit .avatar {
	padding: 7px 0 2px 0;
	text-align: right;
	vertical-align: top;
}

#submit .avatar img {
	border: 1px solid #E5E5E5;
	height: 42px;
	width: 42px;
}

#submit .comment {
	padding: 5px 0 2px 10px;
}

#submit textarea {
	border: 1px solid #999999;
	font-size: 11pt;
	height: 50px;
	padding: 3px;
	width: 475px;
}

#submit .submit-container {
	padding: 2px 0 2px 10px;
}

#submit-tips .tip {
	width: 250px;
}