/* user list */
#user-list {
	
}

#user-list .user {
	border-top: 1px solid #efefef;
	clear: both;
	height: 50px;
	margin: 5px 0;
}

#user-list .user:first-child {
/*	border-top: 0px;*/
	margin-top: 0px;
	padding-top: 0px;
}

#user-list .user .avatar {
	float: left;
	height: 50px;
	margin: 5px 10px 5px 5px;
	width: 50px;
}

#user-list .user .name {
	float: left;
	font-size: 11px;
	margin: 5px 0;
	width: 375px;
}

#user-list .user .name a {
	font-size: 13px;
	font-weight: bold;
}

#user-list .user .status {
	float: right;
	margin: 5px;
}

#user-list .user .unfollow {
	color: #837d87;
}