/* user listing */
.user {
	float: left;
	display: inline;
	font-size: 8pt;
	height: 89px;
	line-height: 10pt;
	margin: 5px 5px 5px 5px;
	overflow: hidden;
	text-align: center;
	width: 64px;
}

.user img {
	border: 1px solid #E5E5E5;
	height: 60px;
	width: 60px;
}

/* user listing in a grid container */
.grid-container .user {
	height: 104px;
	width: 79px;
}

.grid-container .user img {
	height: 75px;
	width: 75px;
}

/* statistics table */
.user-statistics {
	padding: 5px;
	width: 100%;
}

.user-statistics td {
	text-align: center;
	width: 25%;
}

.user-statistics td span {
	font-size: 18pt;
	line-height: 22pt;
}

.user-statistics td .user {
	margin-top: 0px;
}

.user-statistics td + td {
	border-right: 1px solid #E5E5E5;
}

.user-statistics td:last-child {
	border-right: 0px;
}

/* follow buttons */
a.follow {
	background-color: #195baa;
	border: 1px solid #195baa;
	color: #FFFFFF !important;
	font-size: 8pt;
	padding: 2px 4px;
	text-decoration: none !important;
}

a.unfollow {
	background-color: #FFFFFF;
	border: 1px solid #9AAFE5;
	color: #195baa !important;
	font-size: 8pt;
	padding: 2px 4px;
	text-decoration: none !important;
}