<div class="status follow_for_<%= user.id %>">
	<% if !logged_in_user.follows?(user) -%>
		<%= link_to_remote '+ Follow', {:url => {:controller => 'users', :action => 'follow', :id => user}}, :class => 'subscribe' %>
	<% else -%>
		<%= link_to_remote 'Following!', {:url => {:controller => 'users', :action => 'unfollow', :id => user}}, :class => 'unsubscribe', :style => 'color:#837d87;' %>
	<% end -%>
</div>