<%= render :partial => "/layouts/content_header_simple", :locals => {:title => 'Members'} %>

<div id="content-main">
	<h1 class="section-header">Browse Members</h1>
	<div class="grid-container">
		<%= render @users %>
	</div>
	<%= render :partial => "/layouts/pagination", :locals => {:collection => @users} %>
</div>

<div id="content-sidebar">
	
</div>