<div id="navigable-container">
  <% render :layout => "users/navigation", :locals => { :selected => "My Subscriptions" } do %>
    <div class="items">
      <div class="item-wrapper">
        <ul>
          <li><%= link_to "Videos", "/my-subscriptions" %></li>
          <li class="selected-item"><%= link_to "Channels", "/my-subscriptions/channels" %></li>
        </ul>
      </div>
    </div>
  <% end %>

   <div class="user-area">
      <h1>Your Subscribed Channels</h2>
     <div class="grid-container">
				<%= render(@channels, :subscribable => true) %>
		</div>

   </div>
</div>
