<%= render :partial => "/layouts/content_header", :locals => {:avatar_path => @user.thumbnail, :title => @user.username, :description => "The profile of #{@user.username}", :user => @user} %>
<%= render :partial => "/layouts/breadcrumbs", :locals => {
			:crumbs => [{:name => 'Members', :params => {:controller => 'users'}}, 
									{:name => @user.username, :params => user_path(:id => @user)}, 
									{:name => 'Profile', :params => {:controller => 'users', :action => 'profile', :id => @user}}]} %>

<div id="content-main">
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => 'Profile', 
			:links => [{:name => 'Activity', :options => user_path(:id => @user), :selected => false}, 
			{:name => 'Profile', :options => {:controller => 'users', :action => 'profile', :id => @user}, :selected => true}, 
			{:name => 'Comments', :options => {:controller => 'users', :action => 'comments', :id => @user}, :selected => false}]} %>
</div>

<div id="content-sidebar">
	<%= render :partial => "/users/sidebar", :locals => {:user => @user} %>
</div>