<% title				||= '' -%>
<% video_id			||= '' -%>
<% container_id	||= '' -%>

<div id="thumbnail-search-overlay" class="buffered">
	<iframe src="/videos/thumbnail_search_control?title=<%= title %>&video_id=<%= video_id %>&container_id=<%= container_id %>" frameborder="0" height="285" width="100%" scrolling="0">
		<p style="text-align:center;">Your browser does not support iframes.</p>
	</iframe>
</div>