<% news_item ||= nil -%>

<%= link_to image_tag(video.thumbnail.blank? ? 'no-image.png' : video.thumbnail), smart_video_link(video, true) %>
<p><%= video.description %></p>

<% if !news_item.nil? -%>
	<p><%= news_item.render_simple(true) %></p>
<% end -%>
