<%= render @videos %>
<%#= render :partial => "/layouts/pagination", :locals => {:title => 'View More Videos in This Topic', :collection => @videos, :options => {:tagged => @tagged}} %>
    <% title			||=  'View More Videos in This Topic' -%>
<% collection	||= @videos -%>
<% options		||= {:tagged => @tagged} -%>
<% force_next	||= false -%>

<br class="clear"/>
<div class="titled-pagination-container">
	<% if !title.blank? -%><span class="title-container"><%= title %></span><br/><% end -%>
	<div class="paginate-single-link-set">
    <% if @page.to_i > 1 -%>
      <%= link_to_remote '&laquo; Previous', :update => "videos", :url => { :controller => :videos, :action => :category_ref, :category => @category.id, :popular => @popular, :page => (@page.to_i - 1) } %>
    <% else -%>
    <span class="disabled">&laquo; Previous</span>
  <% end -%>
    <% if force_next or collection.nil? or collection.size == @per_page -%>
      <%= link_to_remote 'Next &raquo;', :update => "videos", :url => { :controller => :videos, :action => :category_ref, :category => @category.id, :popular => @popular, :page => (@page.to_i + 1) } %>
    <% else %>
    <span class="disabled">Next &raquo;</span>
  <% end -%>
	</div>
</div>

