<%= render :partial => "/layouts/content_header_simple", :locals => {:title => @video.title} %>

<div id="content-main">
	<%= render @video, :visible_title => false %>
</div>

<div id="content-sidebar">
	
</div>