<div>
	<div id="fb-filter-list">
		<div class="selected">
			Friends' Activity
		</div>
		<div>
			Channel Videos
		</div>
		<div>
			Popular Videos
		</div>
		<div>
			Newest Videos
		</div>
		<div id="filler">&nbsp;</div>
	</div>
	<div id="fb-stream">
		<p>
			You can test a <%= link_to 'full reload', {:controller => 'facebook', :action => 'finalize'} %> 
			or an <%= link_to 'in-app reload', {:controller => 'videos', :action => 'friends'} %>,
			<%= logged_in_user.username %>.
		</p>
		<%= render @news_items %>
	</div>
</div>