<div>
	<div id="fb-filter-list">
		<div class="selected">
			Friends' Activity
		</div>
		<div>
			Channel Videos
		</div>
		<div>
			Popular Videos
		</div>
		<div>
			Newest Videos
		</div>
		<div id="filler">&nbsp;</div>
	</div>
	<div id="fb-stream">
		<p><%= link_to "reload it, #{logged_in_user.username}", {:controller => 'facebook', :action => 'finalize'} %></p>
		<%= render @news_items %>
	</div>
</div>