<div>
	<%= render :partial => '/layouts/navigation', :locals => {:selected => 'News Feed'} %>
	<div id="fb-stream">
		<%= render @news_items %>
		<%= render :partial => "/layouts/pagination", :locals => {:collection => @news_items} %>
	</div>
</div>