<% content_for :box do %>
  <div id="pitch" style="background-color: #bcdff3;border-color: #acacac;height: 162px;padding: 14px 20px 10px 20px;">
    <img src="/images/featured-on.png" alt="Featured on" style="float: right;margin-top: 6px;width: 241px" />
    <div id="copy" style="background: url(/images/cat-header-bg.png) no-repeat; height: 150px;width: 694px;margin-left: -10px;margin-top: 5px;padding-top:32px;padding-left: 17px;">
      <table>
        <% @categories.each_with_index do |c, i| %>
          <% if i % 6 == 0 %>
            <% if i > 0 %>
              </tr>
            <% end %>
            <tr>
          <% end %>
          <td width="110">
            <%= link_to truncate(c.name, 15), smart_category_link(c, true, true), :style => "text-decoration: none;color: #373737" %>
          </td>
        <% end %>
      </tr>
      </table>
      <a style="float: right;position: relative;right: 570px;bottom: 142px;width: 150px;height: 35px;" href="<%= topic_link true %>"></a>
		</div>
	</div>
<% end -%>

<div class="content-section">
  <div style="margin-left: 25px;">	
		<h1 id="filter-bar" style="border: none">
			<span class="title-container">Recent Searches</span>
    </h1>
  </div>
  <p class="queries" style="margin-left: 25px;margin-right: 25px;">
    <% make_a_cloud(@searches).each do |s| %>
      <%= s %>
    <% end %>
</p>
     <div class="video-list" style="margin-left: 15px">
        <table>
        <% @videos.each_with_index do |video, i| %>
          <% if i % 6 == 0 %>
            <% if i > 0 %>
              </tr>
            <% end %>
            <tr height="90">
          <% end %>
          <td width="127">
            <div class="small-video" style="margin: 5px 5px; width: auto; height: auto;">
              <div class="thumbnail" style="margin: 5px 5px;  width: auto; height: auto;">
                <%= link_to image_tag(video.thumbnail.blank? ? 'no-image.png' : video.thumbnail), smart_video_link(video, true) %>
              </div>
            </div>
          </td>
        <% end %>      
        </tr>
      </table> 

      </div>
</div>


<script type="text/javascript" charset="utf-8">
	<% if params[:register] -%>
		new Ajax.Request('/register', {method:'get', asynchronous:true, evalScripts:false});
	<% end -%>
</script>
