<%= render :partial => "/layouts/content_header", :locals => {:title => 'All Videos', :description => @popular ? 'Popular Videos' : 'Newest Videos'} %>

<div id="content-main">
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => 'All Videos', 
			:links => [{:name => 'Popular Videos', :options => {:controller => 'videos', :action => 'index', :popular => true}, :selected => @popular}, 
			{:name => 'Newest Videos', :options => {:controller => 'videos', :action => 'index', :popular => false}, :selected => !@popular}]} %>
	<%= render @videos %>
	<%= render :partial => "/layouts/pagination", :locals => {:title => @popular ? 'View More Popular Videos' : 'View More Newest Videos', :collection => @videos} %>
</div>

<div id="content-sidebar">
	
</div>
