<div id="content-main">
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => 'Subscriptions', 
			:links => [{:name => 'Activity', :options => '/', :selected => false}, 
			{:name => 'Subscriptions', :options => {:controller => 'videos', :action => 'subscriptions'}, :selected => true}]} %>
	<%= render @videos %>
	<%= render :partial => "/layouts/pagination", :locals => {:title => 'View More Videos From Subscriptions', :collection => @videos} %>
</div>

<div id="content-sidebar">
	<% if user_logged_in? -%>
		<%= render :partial => "/users/sidebar", :locals => {:welcome => true, :user => logged_in_user} %>
	<% end -%>
</div>
