<div id="content-sidebar">
	<h1 class="section-header">Gawkk</h1>
	<a href="/about">About Us</a><br/>
	<a href="/contact">Contact Us</a><br/>
	<a href="/faq">Frequent Questions</a><br/>
	<a href="/tour">Gawkk Web Tour</a><br/>
	<a href="/tour-video">Gawkk Video Tour</a><br/>
	<a href="/privacy">Privacy Policy</a><br/>
	<a href="/terms-of-use">Terms of Use</a><br/>
</div>