<%= render :partial => "/layouts/content_header_simple", :locals => {:title => 'About', :crumbs => [{:name => 'About'}]} %>

<div id="content-main">
	<p>
		Gawkk.com is like a "Twitter for videos" where you can discover, 
		share and discuss videos from around the web with your friends and 
		followers by answering one simple question: <strong>What are you watching?</strong>
	</p>

	<p>
		To start the conversation, Gawkk incorporates video from thousands 
		of media sources across the Internet, but you also can add a video 
		from any website and then share and discuss it with your friends 
		and followers on Gawkk. The embedded video is viewable directly 
		within your activity stream, along with an individually threaded 
		discussion between your friends and the people you follow.
	</p>

	<p>
		By combining a powerful video discovery engine with a social messaging 
		platform, Gawkk provides a simple and effective resource for finding 
		and discussing the most interesting videos from around the web, right now.
	</p>

	<p>Gawkk was founded by <a href="/gculliss">Gary Culliss</a> and <a href="/tsmango">Thomas Mango</a>.</p>
</div>

<%= render :partial => "sidebar" %>