<div id="content-header">
	<h1>Get the &quot;Save to Gawkk&quot; Button</h1>
	Save Videos Directly to Gawkk from Anywhere on the Web
</div>

<div>
	<% if browser_is? :mozilla -%>
		<h3>Add the Save Button to Firefox</h3>
		<p>You can easily save videos from any site on the web just by clicking the
		&quot;Save to Gawkk&quot; browser button. When you see a great video at any
		site, you can click the &quot;Save to Gawkk&quot; button in your browser to
		quickly add the video to your channel.</p>
	
		<p><strong>To install the &quot;Save to Gawkk&quot; button, simply click and
		drag the button shown below to the bookmarks toolbar in your browser.</strong></p>
	
		<p><a href="javascript:location.href='http://www.gawkk.com/submit?url='+encodeURIComponent(location.href)+'&bookmarklet=true'" style="background-color:#E5E5E5;border:1px solid #AAAAAA;color:#333;font-weight:bold;text-decoration:none;padding:5px 40px;">Save to Gawkk</a></p>
	
		<p>If you aren&#39;t having luck with the drag and drop, you can follow the
		step-by-step instructions below.</p>
	
		<h3>Optional Step-By-Step Instructions for Firefox</h3>
		<p>If you weren&#39;t able to drag and drop the button to your browser, you can follow these step-by-step instructions to add the button.</p>
	
		<ol>
			<li>Right-click the &quot;Save to Gawkk&quot; Button above and select &quot;Bookmark this Link.&quot; Mac users can control-click instead of right-clicking.</li>
			<li>In the small window that pops up, set &quot;Create In&quot; to &quot;Bookmarks Toolbar&quot; and click &quot;OK.&quot;</li>
			<li>The &quot;Save to Gawkk&quot; Button should now appear on your Links toolbar.</li>
		</ol>
	
		<p>If you cannot see your Bookmarks Toolbar, go to the &quot;View&quot; menu and select &quot;Toolbars.&quot; Set the &quot;Bookmarks Toolbar&quot; to appear.</p>
	<% elsif browser_is? :webkit -%>
		<h3>Add the Save Button to Safari</h3>
		<p>You can easily save videos from any site on the web just by clicking the
		&quot;Save to Gawkk&quot; browser button. When you see a great video at any
		site, you can click the &quot;Save to Gawkk&quot; button in your browser to
		quickly add the video to your channel.</p>
	
		<p><strong>To install the &quot;Save to Gawkk&quot; button, simply click and
		drag the button shown below to the bookmarks toolbar in your browser.</strong></p>
	
		<p><a href="javascript:location.href='http://www.gawkk.com/submit?url='+encodeURIComponent(location.href)" style="background-color:#E5E5E5;border:1px solid #AAAAAA;color:#333;font-weight:bold;text-decoration:none;padding:5px 40px;">Save to Gawkk</a></p>
	
		<p>If you weren&#39;t able to drag and drop the button to your browser, you can follow these step-by-step instructions to add the button.</p>
	
		<ol>
			<li>From the &quot;View&quot; menu, click &quot;Show Bookmark Bar&quot;</li>
			<li>You should now be able to drag the &quot;Save to Gawkk&quot; link to the bookmark bar.</li>
		</ol>
	<% else -%>
		<h3>Add the Save Button to Internet Explorer</h3>
		<p>You can easily save videos from any site on the web just by clicking the
		&quot;Save to Gawkk&quot; browser button. When you see a great video at any
		site, you can click the &quot;Save to Gawkk&quot; button in your browser to
		quickly add the video to your channel.</p>
	
		<p>Follow these simple steps to add the &quot;Save to Gawkk&quot; bookmark button to your browser:</p>
		<ol>
			<li>Right-click the &quot;Save to Gawkk&quot; Button below and select &quot;Add to favorites...&quot;</li>
			<li>In the small window that pops up, set &quot;Create In&quot; to &quot;Links&quot; and click &quot;OK.&quot;</li>
			<li>The &quot;Save to Gawkk&quot; Button should now appear on your Links toolbar.</li>
		</ol>
	
		<p><a href="javascript:location.href='http://www.gawkk.com/submit?url='+encodeURIComponent(location.href)" style="background-color:#E5E5E5;border:1px solid #AAAAAA;color:#333;font-weight:bold;text-decoration:none;padding:5px 40px;">Save to Gawkk</a></p>
		
		<p style="margin-top:25px;">If you cannot see your Links Toolbar, go to the &quot;View&quot; menu and select &quot;Toolbars.&quot; Set the &quot;Links&quot; to appear.</p>
	<% end -%>
</div>