<%= render :partial => "/layouts/content_header_simple", :locals => {:title => 'Frequently Asked Questions', :crumbs => [{:name => 'About', :params => {:action => 'about'}}, {:name => 'Frequent Questions'}]} %>

<div id="content-main">
	<div class="coming-soon">
		<h2>Coming Soon</h2>
	</div>
</div>

<div id="content-sidebar">
	<%= render :partial => "sidebar" %>
</div>