<div id="content-header">
	<h1>How Gawkk Works</h1>
	<a href="/">Home</a> &gt; About Us &gt; How Gawkk Works
</div>

<div id="content-main">
	<h1 class="section-header">What is Gawkk?</h1>
	<p>Gawkk is a place for you to discover, save, discuss and share videos from anywhere on the web.</p>
	
	<p class="header">Discover Videos</p>
	<p>How does Gawkk do it? First, you can easily explore videos from the biggest video sites to the
	most obscure blogs that are posted to the site by Gawkk members, all in one place simply by browsing
	the home page, categories and channels of the Gawkk site.</p>
	
	<p class="header">Get Your Own Channel and Gawkk Player Widget</p>
	<p>Then, as a Gawkk member, you get your own personal channel that you can share with the world by
	sharing a link to your channel or posting a Gawkk Player Widget  on any blog, website or social
	networking profile page. You can then save videos that you find on Gawkk, or anywhere else around
	the web, to your own channel and they will automatically be displayed on your Gawkk Player for the
	whole world to see.</p>
	
	<p class="header">Automatically Share Videos with Your Friends</p>
	<p>As you invite and make friends on Gawkk, you&#39;ll automatically see the videos your friends
	are saving to their channels, and they will automatically see the videos saved to your channel in
	the &quot;My Friends&#39; Videos&#39;&quot; area. Simply by saving a video to your Gawkk channel,
	you can easily share it with your friends and the world. So, if you find a great video that you know
	your friends will love, be a hero and save it to your Gawkk channel so that all of your friends will
	automatically see it!</p>
	
	<p class="header">View Popular Videos in each Category</p>
	<p>All videos on Gawk are also organized by category and ranked by the number of saves. When 
	a video is saved by enough people, that video becomes popular and will be promoted to the 
	home page within its category. So, if you’re a fan of &quot;Odd &amp; Outrageous&quot; videos, 
	you can see the best videos across all channels within the “popular videos” section of that 
	category and on the home page.</p>
	
	<p class="header">Subscribe to Channels</p>
	<p>Finally, you can subscribe to any channel and view videos from all of those channels in the 
	&quot;My Subscriptions&#39; Videos&quot; area. Gawkk even has a number of featured channels that 
	include popular videos from around the web, so when you sign up, be sure to subscribe to some of 
	these great channels.</p>
	
	<p class="header">Gawkk is Social Video Discovery and Sharing</p>
	<p>Gawkk is all about the discovery, sharing and promotion of the best videos on the web. By 
	allowing you to save videos and easily share them with others, no matter where the video 
	might be located on the web, Gawkk is making social video discovery and sharing easy and 
	fun.</p>
	
	<p>For more information, <a href="/tour">take the site tour</a>.</p>
</div>

<div id="content-sidebar">
	<h1 class="section-header">About Us</h1>
	How Gawkk Works<br/>
	<a href="/tour">Take the Site Tour</a><br/>
	<a href="/faq">Frequently Asked Questions</a><br/>
	<a href="http://blog.gawkk.com">The Gawkk Blog</a><br/>
	<a href="/jobs">Jobs at Gawkk</a><br/>
	<a href="/contact">Contact Gawkk</a>
	
	<h1 class="section-header">Site Details</h1>
	<a href="/report-bug">Report a Website Bug</a><br/>
	<a href="/rss">RSS Feeds</a><br/>
	<a href="/terms-of-use">Terms of Use</a><br/>
	<a href="/privacy">Privacy Policy</a>
</div>