<%= render :partial => "/layouts/content_header_simple", :locals => {:title => 'Terms of Use', :crumbs => [{:name => 'About', :params => {:action => 'about'}}, {:name => 'Terms of Use'}]} %>

<div id="content-main">
	<p>Gawkk ("Gawkk") welcomes you to our service.  Gawkk provides its
	service to you subject to the following Terms of Service and
	Disclaimers ("TOS"), also referred to as Terms of Use and Disclaimers,
	which may be updated by us from time to time without notice to you.
	You can review the most current version of the TOS at any time at:
	<a href="http://www.gawkk.com/terms-of-use">http://www.gawkk.com/terms-of-use</a>.
	In addition, when using our services, you shall be subject
 	to any posted guidelines or rules applicable to such services
	that may be posted on the Service from time to time. All
	such guidelines or rules are hereby incorporated by
	reference into the TOS.</p>
	
	<p>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THE SERVICES.
	BY ACCESSING, BROWSING, OR OTHERWISE USING THE SITE, YOU AGREE TO BE
	BOUND BY THIS TERMS OF USE USER AGREEMENT AND ANY OF THE RELATED
	POLICIES OR GUIDELINES, INCLUDING ANY SUBSEQUENT CHANGES OR
	MODIFICATIONS TO THEM. IF YOU DO NOT AGREE TO THIS USER AGREEMENT OR
	ANY CHANGES, DO NOT ACCESS OR OTHERWISE CONTINUE TO USE THIS SITE.
	GAWKK'S ACCEPTANCE IS EXPRESSLY CONDITIONED UPON YOUR ASSENT TO ALL OF
	THESE TERMS AND CONDITIONS, TO THE EXCLUSION OF ALL OTHER TERMS; IF
	THESE TERMS AND CONDITIONS ARE CONSIDERED AN OFFER BY GAWKK,
	ACCEPTANCE IS EXPRESSLY LIMITED TO THESE TERMS.</p>
	
	<p class="header">Description of Service</p>
	<p>Gawkk is a free service that provides various online aggregation and
	sharing services for online video resources.  Subject to full
	compliance with the Terms of Use, Gawkk may offer to provide certain
	services and content, as described more fully on the site, (the
	"Service"). You understand and agree that the Service shall include,
	but not be limited to, any service and content Gawkk performs for you,
	as well as the offering of any materials displayed, transmitted or
	performed on the site or through the Service (including, but not
	limited to video, links, embeds, text, user comments, messages,
	information, data, graphics, images, illustrations, software, audio
	clips and video clips, also known as the "Content"). Gawkk may change,
	suspend or discontinue the Service, including any Content for any
	reason, at any time, including the availability of any feature or
	content. Gawkk may also impose limits on certain features and services
	or restrict your access to parts or all of the Service without notice
	or liability.</p>
	
	<p>You also understand and agree that the Service may include
	advertisements and that these advertisements are necessary for Gawkk
	to provide the Service. You also understand and agree that the Service
	may include certain communications from Gawkk, such as service
	announcements and administrative messages, and that these
	communications are considered part of Gawkk membership and you will
	not be able to opt out of receiving them. Unless explicitly stated
	otherwise, any new features that augment or enhance the current
	Service, including the release of new Gawkk properties, shall be
	subject to the TOS. You understand and agree that the Service is
	provided "AS-IS" and that Gawkk  assumes no responsibility for the
	timeliness, deletion, mis-delivery or failure to store any user
	communications or personalization settings. You are responsible for
	obtaining access to the Service, and that access may involve
	third-party fees (such as Internet service provider or airtime
	charges). You are responsible for those fees, including those fees
	associated with the display or delivery of advertisements. In
	addition, you must provide and are responsible for all equipment
	necessary to access the Service.</p>
	
	<p>Please be aware that Gawkk has created certain areas on the Service
	that may contain adult or mature content. You must be at least 18
	years of age to access and view such areas.</p>
	
	<p class="header">Member Account, Password and Security</p>
	<p>As a condition to using Services, you are required to register with
	Gawkk and select a password and screen name ("Gawkk User ID"). You
	shall provide Gawkk with accurate, complete, and updated registration
	information. Failure to do so shall constitute a breach of the Terms
	of Use, which may result in immediate termination of your Gawkk
	account. You understand and agree that you may not (a) select or use
	as a Gawkk User ID a name of another person with the intent to
	impersonate that person; (b) use as a Gawkk User ID a name subject to
	any rights of a person other than you without appropriate
	authorization; or (c) use as a Gawkk User ID a name that is otherwise
	offensive, vulgar or obscene. Gawkk reserves the right to refuse
	registration of, or cancel a Gawkk User ID in its discretion.</p>
	
	<p>You are responsible for maintaining the confidentiality of the
	password and account and are fully responsible for all activities that
	occur under your password or account. You agree to (a) immediately
	notify Gawkk of any unauthorized use of your password or account or
	any other breach of security, and (b) ensure that you exit from your
	account at the end of each session. Gawkk cannot and will not be
	liable for any loss or damage arising from your failure to comply with
	this section.</p>
	
	<p class="header">Your Registration Obligations</p>
	<p>In consideration of your use of the Service, you represent that you
	are of legal age to form a binding contract and are not a person
	barred from receiving services under the laws of the United States or
	other applicable jurisdiction. You also agree to: (a) provide true,
	accurate, current and complete information about yourself as prompted
	by the Service's registration form (the "Registration Data") and (b)
	maintain and promptly update the Registration Data to keep it true,
	accurate, current and complete. If you provide any information that is
	untrue, inaccurate, not current or incomplete, or Gawkk has reasonable
	grounds to suspect that such information is untrue, inaccurate, not
	current or incomplete, Gawkk has the right to suspend or terminate
	your account and refuse any and all current or future use of the
	Service (or any portion thereof).</p>
	
	<p>Gawkk is concerned about the safety and privacy of all its users,
	particularly children. The Service is available only to individuals
	who are at least 13 years old, whether acting on their own behalf or
	as an authorized employee or representative of a corporation or other
	business entity. If you do not so qualify, do not attempt to register
	for or use the Service.</p>
	
	<p class="header">Gawkk Privacy Policy</p>
	<p>User Data and certain other information about you is subject to our
	Privacy Policy. For more information, see our full privacy policy at
	<a href="http://www.gawkk.com/privacy">http://www.gawkk.com/privacy</a>.
	You understand that through your use of the Service you
	consent to the collection and use (as set forth in the Privacy
	Policy) of this information, including the transfer of
	this information to the United States and/or other countries for
	storage, processing and use by Gawkk and its affiliates.</p>
	
	<p class="header">Modifications of Terms of Use</p>
	<p>Gawkk reserves the right, at its sole discretion, to modify or replace
	the Terms of Use at any time. If the alterations constitute a material
	change to the Terms of Use, Gawkk will notify you by posting an
	announcement on the Site. What constitutes a "material change" will be
	determined at Gawkk's sole discretion, in good faith and using common
	sense and reasonable judgment. You shall be responsible for reviewing
	and becoming familiar with any such modifications. Use of the Services
	by you following such notification constitutes your acceptance of the
	terms and conditions of the Terms of Use as modified.</p>
	
	<p class="header">Member Conduct</p>
	<p>You understand that all information, links, data, text, software,
	music, sound, photographs, graphics, video, messages, tags, or other
	materials ("Content"), whether publicly posted or privately
	transmitted, are the sole responsibility of the person from whom such
	Content originated. This means that you, and not Gawkk, are entirely
	responsible for all Content that you upload, post, email, transmit or
	otherwise make available via the Service. Gawkk does not control the
	Content posted via the Service and, as such, does not guarantee the
	accuracy, integrity or quality of such Content. You understand that by
	using the Service, you may be exposed to Content that is offensive,
	indecent or objectionable. Under no circumstances will Gawkk be liable
	in any way for any Content, including, but not limited to, any errors
	or omissions in any Content, or any loss or damage of any kind
	incurred as a result of the use of any Content posted, emailed,
	transmitted or otherwise made available via the Service.</p>
	
	<p>
		You agree to not use the Service to:
		<ul>
			<li>to abuse, harass, threaten, intimidate,  impersonate or attempt to impersonate another user or person;</li>
			<li>upload, post, email, transmit or otherwise make available any Content that is infringing, unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable;</li>
			<li>harm minors in any way;</li>
			<li>impersonate any person or entity, including, but not limited to, a Gawkk official,  leader, guide or host, or falsely state or otherwise misrepresent your affiliation with a person or entity;</li>
			<li>forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through the Service;</li>
			<li>upload, post, email, transmit or otherwise make available any Content that you do not have a right to make available under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements);</li>
			<li>upload, post, email, transmit or otherwise make available any Content that infringes any patent, trademark, trade secret, copyright or other proprietary rights ("Rights") of any party;</li>
			<li>upload, post, email, transmit or otherwise make available any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other form of solicitation, except in those areas (such as shopping) that are designated for such;</li>
			<li>upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment;</li>
			<li>disrupt the normal flow of dialogue, cause a screen to "scroll" faster than other users of the Service are able to type, or otherwise act in a manner that negatively affects other users' ability to engage in real time exchanges;</li>
			<li>interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures, policies or regulations of networks connected to the Service;</li>
			<li>intentionally or unintentionally violate any applicable local, state, national or international law, including, but not limited to, regulations promulgated by the U.S. Securities and Exchange Commission, any rules of any national or other securities exchange, including, without limitation, the New York Stock Exchange, the American Stock Exchange or the NASDAQ, and any regulations having the force of law;</li>
			<li>provide material support or resources (or to conceal or disguise the nature, location, source, or ownership of material support or resources) to any organization(s) designated by the United States government as a foreign terrorist organization pursuant to section 219 of the Immigration and Nationality Act;</li>
			<li>"stalk" or otherwise harass another;</li>
			<li>collect or store personal data about other users in connection with any prohibited conduct and activities set forth herein.</li>
			<li>engage in any illegal or unauthorized purpose. If you are an international user, you agree to comply with all local laws regarding online conduct and acceptable content;</li>
			<li>post or transmit, or cause to be posted or transmitted, any communication or solicitation designed or intended to obtain password, account, or private information from any Gawkk user;</li>
			<li>create or submit unwanted email ("Spam") to any other Gawkk users or any URL;</li>
			<li>violate any laws in your jurisdiction (including but not limited to copyright laws);</li>
			<li>submit videos, links or comments linking to affiliate programs, multi-level marketing schemes, sites/blogs repurposing existing videos (source hops), or off-topic content;</li>
			<li>with the exception of accessing RSS feeds, use any robot, spider, scraper or other automated means to access the Service for any purpose without our express written permission. Additionally, you agree that you will not: (a) take any action that imposes, or may impose in our sole discretion an unreasonable or disproportionately large load on our infrastructure; b) interfere or attempt to interfere with the proper working of the Site or any activities conducted on the Site; or (c) bypass any measures we may use to prevent or restrict access to the Site;</li>
			<li>artificially inflate or alter the saves count, views count, blog count, comments count, or any other Gawkk metric or Service, including by way of creating separate user accounts for the purpose of artificially altering the Gawkk Service; giving or receiving money or other remuneration in exchange for saves, comments, blogs or other postings; or participating in any other organized effort that in any way artificially alters the results of the Gawkk Service;</li>
			<li>advertise or solicit any user to buy or sell any products or services. It is also a violation of these rules to use any information obtained from the Service in order to contact, advertise to, solicit, or sell to any user without their prior explicit consent;</li>
			<li>sell or otherwise transfer your profile.</li>
		</ul>
	</p>
	
	<p>You acknowledge that Gawkk may or may not pre-screen Content, but that
	Gawkk and its designees shall have the right (but not the obligation)
	in their sole discretion to pre-screen, refuse, or remove any Content
	that is available via the Service. Without limiting the foregoing,
	Gawkk and its designees shall have the right to remove any Content
	that violates the TOS or is otherwise objectionable. Gawkk may remove
	any Content and Gawkk accounts at any time for any reason (including,
	but not limited to, upon receipt of claims or allegations from third
	parties or authorities relating to such Content), or for no reason at
	all. You agree that you must evaluate, and bear all risks associated
	with, the use of any Content, including any reliance on the accuracy,
	completeness, or usefulness of such Content. In this regard, you
	acknowledge that you may not rely on any Content created by Gawkk or
	submitted to Gawkk.</p>
	
	<p>You acknowledge, consent and agree that Gawkk may access, preserve and
	disclose your account information and Content if required to do so by
	law or in a good faith belief that such access preservation or
	disclosure is reasonably necessary to: (a) comply with legal process;
	(b) enforce the TOS; (c) respond to claims that any Content violates
	the rights of third parties; (d) respond to your requests for customer
	service; or (e) protect the rights, property or personal safety of
	Gawkk, its users and the public. You are solely responsible for your
	interactions with other users of the Site. Gawkk reserves the right,
	but has no obligation, to monitor disputes between you and other
	users.</p>
	
	<p>You understand that the technical processing and transmission of the
	Service, including your Content, may involve (a) transmissions over
	various networks; and (b) changes to conform and adapt to technical
	requirements of connecting networks or devices.</p>
	
	<p>You understand that the Service and software embodied within the
	Service may include security components that permit digital materials
	to be protected, and that use of these materials is subject to usage
	rules set by Gawkk and/or content providers who provide content to the
	Service. You may not attempt to override or circumvent any of the
	usage rules embedded into the Service. Any unauthorized reproduction,
	publication, further distribution or public exhibition of the
	materials provided on the Service, in whole or in part, is strictly
	prohibited.</p>
	
	<p class="header">System and Network Security</p>
	<p>
		You are prohibited from violating the security of any system or
		network comprising the Service on the site. Such violations may result
		in criminal and civil liability. Examples of system or network
		security violations include, without limitation, the following:
		
		<ul>
			<li>Unauthorized access to or use of data, systems or networks, including any attempt to probe, scan or test the vulnerability of the Site or to breach security or authentication measures.</li>
			<li>Unauthorized monitoring of data or traffic on the Site.</li>
			<li>Interference with the Site including, without limitation, any type of flooding technique or deliberate attempt to overload a system such as denial of service attacks.</li>
			<li>Forging of any packet header, e-mail header or any part of a message header. This prohibition does not include the use of aliases or anonymous remailers.</li>
			<li>Using manual or electronic means to avoid any use or access limitations placed on this Site.</li>
		</ul>
	</p>
	
	<p class="header">Reporting Violations</p>
	<p>To report Terms of Use abuse, please email: <a href="mailto:abuse@gawkk.com">abuse@gawkk.com</a>.</p>
	
	<p class="header">Interstate Nature of Communications</p>
	<p>When you utilize the Gawkk Service, you acknowledge that in using the
	Gawkk Services to send electronic communications, you will be causing
	communications to be sent through Gawkk's computer network, which are
	located in various locations in the United States. As a result, and
	also as a result of Gawkk's business practices and the nature of
	electronic communications, even communications that seem to be
	intrastate in nature can result in the transmission of interstate
	communications regardless of where you are physically located at the
	time of transmission. Accordingly, by agreeing to this Terms of
	Service through any use of the Service, you acknowledge that use of
	the service results in interstate data transmissions.</p>
	
	<p class="header">Special Admonitions for International Use</p>
	<p>Recognizing the global nature of the Internet, you agree to comply
	with all local rules regarding online conduct and acceptable Content.
	Specifically, you agree to comply with all applicable laws regarding
	the transmission of technical data exported from the United States or
	the country in which you reside.</p>
	
	<p class="header">Content Submitted or Made Available for Inclusion in the Service</p>
	<p>Gawkk does not claim ownership of Content you submit or make available
	for inclusion on the Service. However, with respect to Content you
	submit or make available for inclusion on publicly accessible areas of
	the Service, you grant Gawkk a worldwide, royalty-free, non-exclusive,
	perpetual, irrevocable and fully sub-licensable license to use,
	distribute, reproduce, modify, adapt, publish, translate, publicly
	perform and publicly display such Content (in whole or in part) and to
	incorporate such Content into other works in any format or medium now
	known or later developed.</p>
	
	<p>By transmitting or submitting Content to the Service, you further
	hereby grant Gawkk, its affiliates and sub-licensees the right to use
	the name, identifier, or any portion thereof, submitted in connection
	with such Content, if they so choose. Please note that Gawkk, as a
	policy, does not actively edit User Content. We either leave the
	Content posted as is or take it down entirely. However, in some
	situations, certain modifications may occur without our active
	participation, such as due to our obscenity filtering software, which
	may automatically change profane language to characters such as
	'@#!%'.</p>
	
	<p>You acknowledge and agree that you will not post on the service any
	content for which you do not have the clear right to do so and to
	grant the rights granted above. Please note that content licensed
	under a Creative Commons license may not be posted on the Site because
	such licenses do not permit you to grant the necessary rights and may
	not be applicable to such use in some cases. Therefore, such content
	may only be linked to on the Service. You further acknowledge and
	agree that you are solely responsible and liable for any content that
	you post on the Service and for any infringement or other liability
	that may result.</p>
	
	<p>You represent and warrant that (a) all Content is either wholly
	original to you, or all third party rights therein have been fully
	cleared for use as contemplated by this Agreement, and that you have
	the right to grant the rights granted herein without violating the
	rights of any third party; (b) the Content and the posting thereof on
	the Site does and will not, in any way, violate or breach any of the
	terms of this TOS or violate or infringe upon the rights of any third
	party, and (c) Gawkk shall not in any circumstance be required to pay
	or incur any sums to any person or entity as a result of its use or
	exploitation of the Content unless otherwise agreed by Gawkk.</p>
	
	<p>Without limiting the foregoing, Gawkk reserves the right to use the
	User Content as it deems appropriate, including, without limitation,
	deleting, rejecting, or refusing to post it. Gawkk may, but is under
	no obligation to, offer you the opportunity to edit, delete or
	otherwise modify the Content once it has been submitted to Gawkk.
	Gawkk shall not be obligated to enforce any form of attribution by
	third parties and shall not be responsible for any third party use of
	Content.</p>
	
	<p>If it is determined that you possess any moral rights (including
	rights of attribution or integrity) in the Content, you hereby declare
	that (a) you have no objection to the publication, use, modification,
	or deletion and exploitation of the Content by Gawkk or its licensees,
	successors and assigns; (b) you forever waive and agree not to claim
	or assert any entitlement to any and all moral rights of an author in
	any of the Content; and (c) you forever release Gawkk, and its
	licensees, successors and assigns, from any claims that you could
	otherwise assert against Gawkk by virtue of any such moral rights.</p>
	
	<p>Gawkk is for collaborative discovery and discussion of videos, not
	self-promotion. You agree not to post to the Service any links or
	other Content which is intended to or may result in any monetary
	compensation or other benefit to you, including without limitation any
	affiliate links.</p>
	
	<p class="header">Copyright Complaints</p>
	<p>Gawkk respects the intellectual property of others, and we ask our
	users to do the same. It is Gawkk's policy to respond expeditiously to
	claims of copyright and other intellectual property infringement.
	Gawkk will promptly process and investigate notices of alleged
	infringement and will take appropriate actions under the Digital
	Millennium Copyright Act ("DMCA") and other applicable intellectual
	property laws. Upon receipt of notices complying or substantially
	complying with the DMCA, Gawkk may act expeditiously to remove or
	disable access to any material claimed to be infringing or claimed to
	be the subject of infringing activity and may act expeditiously to
	remove or disable access to any reference or link to material or
	activity that is claimed to be infringing. Gawkk will terminate access
	for subscribers and account holders who are, in its sole discretion,
	determined to be repeat infringers.</p>
	
	<p class="header">Notifying Gawkk of Copyright Infringement</p>
	<p>To provide Gawkk notice of an infringement, you must provide a written
	communication to the attention of "DMCA Infringement Notification
	Dept." care of <a href="mailto:abuse@gawkk.com">abuse@gawkk.com</a> that sets forth the information
	specified by the DMCA
	(<a href="http://www.copyright.gov/title17/92chap5.html#512">http://www.copyright.gov/title17/92chap5.html#512</a>). Please note that
	we may post your notification, with personally identifiable
	information redacted, to a clearinghouse such as <a href="http://chillingeffects.org">chillingeffects.org</a>.
	Please also note that you may be liable for damages (including costs
	and attorneys' fees) if you materially misrepresent that an activity
	is infringing your copyright.</p>
	
	<p class="header">Providing Gawkk with Counter-Notification</p>
	<p>If we remove or disable access to content in response to an
	infringement notice, we will make reasonable attempts to contact the
	owner or administrator of the affected site or content. If you feel
	that your material does not constitute infringement, you may provide
	Gawkk with a counter notification by written communication to the
	attention of "DMCA Counter Notification Dept." at <a href="mailto:abuse@gawkk.com">abuse@gawkk.com</a> that
	sets forth all of the necessary information required by the DMCA
	(<a href="http://www.copyright.gov/title17/92chap5.html#512">http://www.copyright.gov/title17/92chap5.html#512</a>). Please note that
	you may be liable for damages (including costs and attorneys' fees) if
	you materially misrepresent that an activity is not infringing the
	copyrights of others. If you are uncertain whether an activity
	constitutes infringement, we recommended seeking advice of an
	attorney.</p>
	
	<p class="header">Contributions</p>
	<p>By submitting ideas, suggestions, documents, and/or proposals
	("Contributions") to Gawkk through its suggestion or feedback web
	pages, you acknowledge and agree that: (a) your Contributions do not
	contain confidential or proprietary information; (b) Gawkk is not
	under any obligation of confidentiality, express or implied, with
	respect to the Contributions; (c) Gawkk shall be entitled to use or
	disclose (or choose not to use or disclose) such Contributions for any
	purpose, in any way, in any media worldwide; (d) Gawkk may have
	something similar to the Contributions already under consideration or
	in development; (e) your Contributions automatically become the
	property of Gawkk without any obligation of Gawkk to you; and (f) you
	are not entitled to any compensation or reimbursement of any kind from
	Gawkk under any circumstances.</p>
	
	<p class="header">Indemnity</p>
	<p>You agree to indemnify and hold Gawkk and its subsidiaries,
	affiliates, officers, agents, employees, partners and licensors
	harmless from any claim or demand, including reasonable attorneys'
	fees, made by any third party due to or arising out of Content you
	submit, post, transmit or otherwise make available through the
	Service, your use of the Service, your connection to the Service, your
	violation of the TOS, or your violation of any rights of another.</p>
	
	<p class="header">No Resale of Service</p>
	<p>You agree not to reproduce, duplicate, copy, sell, trade, resell or
	exploit for any commercial purposes, any portion of the Service, use
	of the Service, or access to the Service.</p>
	
	<p class="header">General Practices Regarding Use and Storage</p>
	<p>You acknowledge that Gawkk may establish general practices and limits
	concerning use of the Service, including without limitation the
	maximum number of days that links, videos, comments, messages or other
	Content will be retained by the Service, the maximum number of links,
	videos, comments, messages or Content that may be sent from or
	received by the Service, and the maximum number of times (and the
	maximum duration for which) you may access the Service in a given
	period of time. You agree that Gawkk has no responsibility or
	liability for the deletion or failure to store any links, videos,
	comments or messages and other communications or other Content
	maintained or transmitted by the Service. You acknowledge that Gawkk
	reserves the right to log off accounts that are inactive for an
	extended period of time. You further acknowledge that Gawkk reserves
	the right to modify these general practices and limits from time to
	time.</p>
	
	<p class="header">Links</p>
	<p>The Service may provide, or third parties may provide, links to other
	World Wide Web sites or resources. Because Gawkk has no control over
	such sites and resources, you acknowledge and agree that Gawkk is not
	responsible for the availability of such external sites or resources,
	and does not endorse and is not responsible or liable for any Content,
	advertising, products or other materials on or available from such
	sites or resources. You further acknowledge and agree that Gawkk shall
	not be responsible or liable, directly or indirectly, for any damage
	or loss caused or alleged to be caused by or in connection with use of
	or reliance on any such Content, goods or services available on or
	through</p>
	
	<p class="header">Modifications to Service</p>
	<p>Gawkk reserves the right at any time and from time to time to modify
	or discontinue, temporarily or permanently, the Service (or any part
	thereof) with or without notice. You agree that Gawkk shall not be
	liable to you or to any third party for any modification, suspension
	or discontinuance of the Service.</p>
	
	<p class="header">Termination</p>
	<p>You agree that Gawkk may, under certain circumstances and without
	prior notice, immediately terminate your Gawkk account and access to
	the Service. Upon termination of your account, your right to use the
	Services will immediately cease. Cause for such termination shall
	include, but not be limited to, (a) breaches or violations of the TOS
	or other incorporated agreements or guidelines, (b) requests by law
	enforcement or other government agencies, (c) a request by you
	(self-initiated account deletions), (d) discontinuance or material
	modification to the Service (or any part thereof), (e) unexpected
	technical or security issues or problems, (f) extended periods of
	inactivity, (g) engagement by you in fraudulent or illegal activities,
	and/or (h) nonpayment of any fees owed by you in connection with the
	Services.</p>
	
	<p>Termination of your Gawkk account includes (a) removal of access to
	all parts of the Service, (b) deletion of your account and all related
	information, files and content associated with or inside your account
	(or any part thereof), and (c) barring of further use of the Service.
	Further, you agree that all terminations for cause shall be made in
	Gawkk 's sole discretion and that Gawkk shall not be liable to you or
	any third party for any termination of your account, any associated
	email address, or access to the Service. All provisions of the Terms
	of Use which by their nature should survive termination shall survive
	termination, including, without limitation, ownership provisions,
	warranty disclaimers, indemnity and limitations of liability.</p>
	
	<p class="header">Dealings with Advertisers</p>
	<p>Your correspondence or business dealings with, or participation in
	promotions of, advertisers found on or through the Service, including
	payment and delivery of related goods or services, and any other
	terms, conditions, warranties or representations associated with such
	dealings, are solely between you and such advertiser. You agree that
	Gawkk shall not be responsible or liable for any loss or damage of any
	sort incurred as the result of any such dealings or as the result of
	the presence of such advertisers on the Service.</p>
	
	<p class="header">Gawkk's Proprietary Rights</p>
	<p>You acknowledge and agree that the Service and any necessary software
	used in connection with the Service ("Software") contain proprietary
	and confidential information that is protected by applicable
	intellectual property and other laws. You further acknowledge and
	agree that Content contained in sponsor advertisements or information
	presented to you through the Service or by advertisers is protected by
	copyrights, trademarks, service marks, patents or other proprietary
	rights and laws. Except as expressly permitted by applicable law or
	authorized by Gawkk or advertisers, you agree not to modify, rent,
	lease, loan, sell, distribute or create derivative works based on the
	Service or the Software, in whole or in part.</p>
	
	<p>Gawkk grants you a personal, non-transferable and non-exclusive right
	and license to use the object code of its Software on a single
	computer; provided that you do not (and do not allow any third party
	to) copy, modify, create a derivative work from, reverse engineer,
	reverse assemble or otherwise attempt to discover any source code,
	sell, assign, sublicense, grant a security interest in or otherwise
	transfer any right in the Software. You agree not to modify the
	Software in any manner or form, nor to use modified versions of the
	Software, including (without limitation) for the purpose of obtaining
	unauthorized access to the Service. You agree not to access the
	Service by any means other than through the interface that is provided
	by Gawkk for use in accessing the Service.</p>
	
	<p class="header">Disclaimer of Warranties</p>
	<p>
		YOU EXPRESSLY UNDERSTAND AND AGREE THAT:
		<ol style="list-style:lower-alpha;">
			<li>YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. GAWKK AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS EXPRESSLY DISCLAIM ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT.</li>
			<li>YOU ACKNOWLEDGE THAT GAWKK HAS NO CONTROL OVER, AND NO DUTY TO TAKE ANY ACTION REGARDING: WHICH USERS GAIN ACCESS TO THE SITE OR USE THE SERVICE; WHAT EFFECTS THE CONTENT MAY HAVE ON YOU; HOW YOU MAY INTERPRET OR USE THE CONTENT; OR WHAT ACTIONS YOU MAY TAKE AS A RESULT OF HAVING BEEN EXPOSED TO THE CONTENT. YOU RELEASE GAWKK FROM ALL LIABILITY FOR YOU HAVING ACQUIRED OR NOT ACQUIRED CONTENT THROUGH THE SITE OR THE SERVICE. THE SITE OR SERVICE MAY CONTAIN, OR DIRECT YOU TO SITES CONTAINING, INFORMATION THAT SOME PEOPLE MAY FIND OFFENSIVE OR INAPPROPRIATE. GAWKK MAKES NO REPRESENTATIONS CONCERNING ANY CONTENT CONTAINED IN OR ACCESSED THROUGH THE SITE OR SERVICES, AND GAWKK WILL NOT BE RESPONSIBLE OR LIABLE FOR THE ACCURACY, COPYRIGHT COMPLIANCE, LEGALITY OR DECENCY OF MATERIAL CONTAINED IN OR ACCESSED THROUGH THE SITE OR THE SERVICE.</li>
			<li>GAWKK AND ITS SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS MAKE NO WARRANTY THAT (a) THE SERVICE WILL MEET YOUR REQUIREMENTS; (b) THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; (c) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE WILL BE ACCURATE OR RELIABLE; (d) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION OR OTHER MATERIAL PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICE WILL MEET YOUR EXPECTATIONS; AND (e) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED.</li>
			<li>ANY MATERIAL OBTAINED THROUGH THE USE OF THE SERVICE IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL.</li>
			<li>NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM GAWKK OR THROUGH OR FROM THE SERVICE SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TOS.</li>
			<li>A SMALL PERCENTAGE OF USERS MAY EXPERIENCE EPILEPTIC SEIZURES WHEN EXPOSED TO CERTAIN LIGHT PATTERNS OR BACKGROUNDS ON A COMPUTER SCREEN OR WHILE USING THE SERVICE. CERTAIN CONDITIONS MAY INDUCE PREVIOUSLY UNDETECTED EPILEPTIC SYMPTOMS EVEN IN USERS WHO HAVE NO HISTORY OF PRIOR SEIZURES OR EPILEPSY. IF YOU, OR ANYONE IN YOUR FAMILY, HAVE AN EPILEPTIC CONDITION, CONSULT YOUR PHYSICIAN PRIOR TO USING THE SERVICE. IMMEDIATELY DISCONTINUE USE OF THE SERVICE AND CONSULT YOUR PHYSICIAN IF YOU EXPERIENCE ANY OF THE FOLLOWING SYMPTOMS WHILE USING THE SERVICE: DIZZINESS, ALTERED VISION, EYE OR MUSCLE TWITCHES, LOSS OF AWARENESS, DISORIENTATION, ANY INVOLUNTARY MOVEMENT, OR CONVULSIONS.</li>
		</ol>
		
		SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THESE LIMITATIONS MAY NOT APPLY TO YOU.
	</p>
	
	<p class="header">Limitation of Liability</p>
	<p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT GAWKK AND ITS SUBSIDIARIES,
	AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL
	NOT BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
	CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING, BUT NOT LIMITED TO,
	DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER INTANGIBLE
	LOSSES (EVEN IF GAWKK HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
	DAMAGES), RESULTING FROM: (a) THE USE OR THE INABILITY TO USE THE
	SERVICE; (b) THE COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES
	RESULTING FROM ANY GOODS, DATA, INFORMATION OR SERVICES PURCHASED OR
	OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH OR
	FROM THE SERVICE; (c) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR
	TRANSMISSIONS OR DATA; (d) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON
	THE SERVICE; OR (e) ANY OTHER MATTER RELATING TO THE SERVICE.
	SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES OR
	THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR
	CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THESE LIMITATIONS MAY NOT
	APPLY TO YOU.</p>
	
	<p class="header">No Third-Party Beneficiaries</p>
	<p>You agree that, except as otherwise expressly provided in this TOS,
	there shall be no third-party beneficiaries to this agreement.</p>
	
	<p class="header">Notice</p>
	<p>Gawkk may provide you with notices, including those regarding changes
	to the TOS, including by but not limited to email, regular mail, SMS,
	MMS, text message, postings on the Service, or other reasonable means
	now known or hereinafter developed.</p>
	
	<p class="header">Trademark Information</p>
	<p>The Gawkk name and Gawkk logos, product and service names are
	trademarks or servicemarks of Gawkk in the U.S. and/or other
	countries. Gawkk's trademarks and trade dress may not be used,
	including as part of trademarks and/or as part of domain names, in
	connection with any product or service in any manner that is likely to
	cause confusion.</p>
	
	<p class="header">General Information</p>
	<p>The TOS constitutes the entire agreement between you and Gawkk, and
	governs your use of the Service, superseding any prior agreements
	between you and Gawkk with respect to the Service. No agency,
	partnership, joint venture, or employment is created as a result of
	the Terms of Use and you do not have any authority of any kind to bind
	Gawkk in any respect whatsoever. Gawkk shall not be liable for any
	failure to perform its obligations hereunder where such failure
	results from any cause beyond Gawkk's reasonable control, including,
	without limitation, mechanical, electronic or communications failure
	or degradation. The Terms of Use is not assignable, transferable or
	sub-licensable by you except with Gawkk's prior written consent. Gawkk
	may transfer, assign or delegate the Terms of Use and its rights and
	obligations without consent.  You agree that your Gawkk account and
	Content is non-transferable and any rights to your Gawkk account or
	Content terminate upon your death. Upon receipt of a copy of a death
	certificate, your account may be terminated and all contents therein
	may be permanently deleted.  You agree that regardless of any statute
	or law to the contrary, any claim or cause of action arising out of or
	related to use of the Service or the TOS must be filed within one (1)
	year after such claim or cause of action arose or be forever barred.</p>
	
	<p>The failure of Gawkk to exercise or enforce any right or provision of
	the TOS shall not constitute a waiver of such right or provision. If
	any provision of the TOS is found by a court of competent jurisdiction
	to be invalid, the parties nevertheless agree that the court should
	endeavor to give effect to the parties' intentions as reflected in the
	provision, and the other provisions of the TOS remain in full force
	and effect.</p>
	
	<p>The TOS and the relationship between you and Gawkk shall be governed
	by the laws of the State of New York without regard to its conflict of
	law provisions. You and Gawkk agree to submit to the personal and
	exclusive jurisdiction of the courts located within the county of New
	York, New York.  Notwithstanding the foregoing sentence, (but without
	limiting Gawkk's right to seek injunctive or other equitable relief in
	any court of competent jurisdiction), any disputes arising with
	respect to this Agreement shall be referred to an arbitrator
	affiliated with JAMS, The Resolution Experts. The arbitrator shall be
	selected by joint agreement of the parties. In the event the parties
	cannot agree on an arbitrator within thirty (30) days of the
	initiating party providing the other party with written notice that it
	plans to seek arbitration, the parties shall each select an arbitrator
	affiliated with JAMS, which arbitrators shall jointly select a third
	such arbitrator to resolve the dispute. The written decision of the
	arbitrator shall be final and binding on the parties. The arbitration
	proceeding shall be carried on and heard in New York, NY using the
	English language and pursuant to the rules of JAMS. In any action or
	proceeding to enforce rights under the Terms of Use, the prevailing
	party will be entitled to recover costs and attorneys' fees.</p>
	
	<p>Both parties agree that the Terms of Use is the complete and exclusive
	statement of the mutual understanding of the parties and supersedes
	and cancels all previous written and oral agreements, communications
	and other understandings relating to the subject matter of the Terms
	of Use, and that all modifications must be in a writing signed by both
	parties, except as otherwise provided herein.</p>
</div>

<div id="content-sidebar">
	<%= render :partial => "sidebar" %>
</div>