<%= render :partial => "/layouts/content_header_simple", :locals => {:title => 'Gawkk Video Tour', :crumbs => [{:name => 'About', :params => {:action => 'about'}}, {:name => 'Video Tour'}]} %>

<div id="content-main">
	<div style="text-align:center;">
		<object width="600" height="405"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=3885742&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=3885742&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="600" height="405"></embed></object>
	</div>
</div>

<%= render :partial => "sidebar" %>