<% container_id ||= '' -%>

<div id="activity_for_<%= video.id %><%= container_id %>" class="activity">
	<% if load_activity -%>
		<%= render :partial => "/news_items/posted", :locals => {:video => video} %>
		<%= render :partial => "/news_items/liked", :locals => {:video => video, :container_id => container_id} %>
	<% end -%>
</div>