<h1 class="section-header">Types</h1>
<%= link_to 'Comments', {:controller => "admin/statistics", :action => "comments"}, :style => bold_for('comments') %><br/>
<%= link_to 'Registrations', {:controller => "admin/statistics", :action => "registrations"}, :style => bold_for('registrations') %>