<%= render :partial => "/layouts/content_header_simple", :locals => {:title => "Statistics", :crumbs => [{:name => 'Admin', :params => {:controller => '/videos', :action => 'friends'}}, {:name => 'Statistics', :params => {:controller => 'admin/statistics'}}]} %>

<div id="content-main">
	
</div>

<div id="content-sidebar">
	<%= render :partial => "sidebar" %>
</div>