<% @generate_phrases = false if @generate_phrases.nil? -%>

<% if tagged -%>
	<table class="inline" cellpadding="0" cellspacing="0">
		<tr>
			<td class="gutter">&nbsp;</td>
			<td class="image-small"><%= image_tag('tag_green.png') %></td>
			<td colspan="2">
				<%= render :partial => "/tags/tag", :collection => video.tags(:generate_phrases => @generate_phrases), :spacer_template => '/tags/tag_spacer' %>
			</td>
		</tr>
	</table>
<% end -%>