<div id="pitch" style="background: url(/images/welcome-header-bg.jpg) #bcdff3;border-color: #acacac">
		<div id="sign-up">
		<!--	<p id="one-click">Sign up with one click:</p>
			<% form_tag({:controller => 'twitter', :action => 'oauth_request'}) do %>
				<p><input type="image" src="/images/sign_in_with_twitter.png"/></p>
      <% end -%>
      -->
      <br />
      <br />
      <br />
      <br />

      <p><%= link_to_remote('Log into', {:url => {:controller => 'authentication', :action => 'login'}, :method => :get}) %> your existing account <br />or, <%= link_to 'register', '/register' %> a new one.</p>
    </div>
		<div id="copy">
			<p style="font-size:16pt;font-weight:bold;">
					<%= @pitch_title %>
			</p>
      <p>You can start following your favorite Tv Shows for FREE in 3 simple steps. Watch TV Shows Free! Watch TV Shows!<br /><br />
      1. Select a TV Show channel to follow<br />
      2. Get updated daily whenever a new TV Show clip is added<br />
        3. Like/Hate, Comment and Interact with the community

      </p>
		</div>
	</div>
