<h1 class="section-header">What are Categories?</h1>
<p>Categories are groups of videos across all channels based on genre, such as comedy, movies, television, celebrities and more.</p>
<p>You can view the <%= link_to 'popular videos', link.merge({:popular => true}) %> or the <%= link_to 'newest videos', link.merge({:popular => false}) %> within each category.</p>