<%= render :partial => "/layouts/content_header", :locals => {:avatar_path => @user.thumbnail, :title => @channel.name, :channel => @channel} %>
<%= render :partial => "/layouts/breadcrumbs", :locals => {:page => @page, 
			:crumbs => [{:name => 'Channels', :params => {:controller => '/channels'}}, 
									{:name => @channel.name, :params => channel_path(:user => @user, :channel => @channel)}, 
									{:name => 'Feeds'}]} %>

<div id="content-main">
	<%= render :partial => "/layouts/filter_bar", :locals => {:title => 'Feeds', :links => []} %>
	
</div>

<div id="content-sidebar">
	<%= render :partial => "sidebar" %>
</div>