<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-12370350-2']);
_gaq.push(['_setDomainName', '.gawkk.com']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

</script>

<!-- Start of StatCounter Code -->
<script type="text/javascript">
var sc_project=6467390; 
var sc_invisible=1; 
var sc_security="5a1082bd"; 
</script>

<script type="text/javascript"
src="http://www.statcounter.com/counter/counter.js"></script><noscript><div
class="statcounter"><a title="godaddy web statistics"
href="http://statcounter.com/godaddy_website_tonight/"
target="_blank"><img class="statcounter"
src="http://c.statcounter.com/6467390/0/5a1082bd/1/"
alt="godaddy web statistics" ></a></div></noscript>
<!-- End of StatCounter Code -->
