<% title ||= '&nbsp;' -%>
<% description ||= '&nbsp;' -%>
<% crumbs ||= Array.new -%>

<div id="content-header" class="separated">
	<h1><%= title %></h1>
	<div>
		<% if crumbs.size > 0 -%>
			<%= render :partial => "/layouts/breadcrumbs", :locals => {:crumbs => crumbs} %>
		<% else -%>
			<%= description %>
		<% end -%>
	</div>
</div>