<h1 style="font-size:24pt;line-height:30pt;margin-top:50px;text-align:center;">
	Well, this is embarrassing!
</h1>
<p style="font-size:12pt;line-height:18pt;margin-top:25px;text-align:center;">
	We haven't quite finished moving the <strong><%= title %></strong> over from our old system.<br/>
	Please check back soon to <%= description %>!
</p>