<% include_search ||= false -%>
<% break_below = true if break_below.nil? -%>

<h1 id="filter-bar">
	<span class="action-container">
		<% links.each do |link| -%>
			<%= link_to link[:name], link[:options], :class => link[:selected] ? 'selected' : '' %>
		<% end -%>
	</span>
	<span class="title-container"><%= title %></span>
</h1>
<%= render :partial => "/search/search" if include_search %>
<% if break_below -%><br class="clear"/><% end -%>