<div id="header">
	<table cellpadding="0" cellspacing="0">
		<td>
			<%= link_to image_tag('logo-fb.png'), {:controller => 'videos', :action => 'friends'} %>
		</td>
		<td id="search">
			<% form_tag({:controller => '/search'}, :method => 'get') do -%>
				<input id="search-field" type="text" name="q" value="<%= (@q and !@q.blank?) ? @q : 'Search...' %>" onfocus="descriptiveField(this, 'Search...', true);" onblur="descriptiveField(this, 'Search...', false);" style="<%= 'color:#333333;' if (@q and !@q.blank?) %>"/><input id="search-submit" type="image" src="/images/fb-search-blue.gif"/>
			<% end -%>
		</td>
	</table>
</div>