<div id="bottom">
	<div id="section-container">
		<ul class="menu-container" style="float:right;">
			<% Category.allowed_in_header.each_with_index do |category, i| -%>
				<li <% if Category.allowed_in_header.size == (i + 1) -%>class="last"<% end -%>>
					<%= link_to category.name, {:controller => 'videos', :action => 'category', :category => category, :popular => true} %>
					<ul>
						<li><%= link_to 'Channels', {:controller => 'channels', :action => 'index', :c => category.id, :t => 'a', :s => 'p'} %></li>
						<li><%= link_to 'Popular Videos', {:controller => 'videos', :action => 'category', :category => category, :popular => true} %></li>
						<li><%= link_to 'Newest Videos', {:controller => 'videos', :action => 'category', :category => category, :popular => false} %></li>
					</ul>
				</li>
			<% end -%>
		</ul>
		<ul class="menu-container">
			<li>
				<div id="search">
					<% form_tag({:controller => '/search'}, :name => 'search', :method => 'get') do -%>
						<input id="search_textfield" type="text" name="q" value="Search Millions of Videos..." onfocus="descriptiveField(this, 'Search Millions of Videos...', true);" onblur="descriptiveField(this, 'Search Millions of Videos...', false);">
						<input id="search_button" type="image" src="/images/search-button.png"/>
					<% end -%>
				</div>
			</li>
		</ul>
	</div>
</div>