<!-- <h1 class="section-header">More Gawkk</h1>
<ul>
	<li><%= link_to 'Take the tour', {:controller => 'pages', :action => 'tour'} %></li>
	<li><%= link_to 'Invite your friends', {:controller => 'registration', :action => 'setup_friends'} %></li>
</ul> -->