<div id="shadow" style="display:none;">&nbsp;</div>
<div id="overlay" style="display:none;"><div id="overlayed-content"></div></div>
<%= image_tag 'overlay-close.png', :id => 'close', :onclick => 'javascript:hideOverlay();enableCurrentForm();' %>