<% title 				||= '&nbsp;' -%>
<% description	||= '' -%>
<% link 				||= '#' -%>
<% count				||= 0 -%>
<% set_size			||= 4 -%>
<% force_link 	||= false -%>
<% collection		||= Array.new -%>

<% if collection.size > 0 -%>
	<%= render :partial => "/layouts/set_header", :locals => {:title => title, :description => description, :count => count, :set_size => set_size, :link => link, :force_link => force_link} %>
	<div class="set">
		<% collection.each do |object| -%>
			<% if object.class == Video -%>
				<%= render :partial => "/videos/video_small", :locals => {:video => object} %>
			<% else -%>
				<%= render object %>
			<% end -%>
		<% end -%>
		<br class="clear"/>
	</div>
<% end -%>