<%= render :partial => "/layouts/content_header_simple", :locals => {:title => "Admin", :crumbs => [{:name => 'Admin', :params => {:controller => 'admin/overview'}}, {:name => 'Dislikes'}]} %>

<div id="content-main"  style="width: 100%">
  <table>
    <tr>
      <th width="500px">Title</th>
      <th>Dislikes</th>
      <th></th>
    </tr>
    <% @videos.each do |v| %>
      <tr>
        <td><%= smart_video_link(v) %></td>
        <td><%= v.dislikes_count %></td>
      </tr>
    <% end %>
</table>
</div>
